body {
    background-image: url("../images/troutwallpaper.jpg");
}

h1 {
    text-align: center;
    font-size: 92px;
    margin-top: 1%;
    color: royalblue;
}

#maincontainer {
    background-color: khaki;
    margin-left: 7.5%;
    margin-top: 2%;
    padding-bottom: 27%;
}

#start {
    background-color: #CD425F;
    color: white;
    border-style: solid;
    border-color: #727275;
    margin: 0;
    bottom: 350px;
    position: relative;
    left: 33%;
    text-align: center;
}

#timeremaining {
    font-size: large;
    margin-top: 8%;
    text-align: center;
}

#questions {
    font-size: x-large;
    margin-top: 2%;
    text-align: center;

}

.answersYo {
   font-size: medium;
   margin-top: 2%;
   margin-bottom: 2%;
   margin-right: 5px;
   margin-left: 5px;
   border-color: purple;
}