body {
    background-image: url("../images/troutwallpaper.jpg");
    font-family: 'Ultra', serif;
}

h1 {
    text-align: center;
    font-size: 86px;
    margin-top: 1%;
    padding-top: 2%;
    color: #6F7075;
    text-shadow:
    -1px -1px 0 #CD425F,
    1px -1px 0 #CD425F,
    -1px 1px 0 #CD425F,
    1px 1px 0 #CD425F;
}

#maincontainer {
    background-color: khaki;
    margin-left: 7.5%;
    margin-top: 2%;
    padding-bottom: 27%;
}

#start {
    background-color: #CD425F;
    color: white;
    border-style: solid;
    border-color: #727275;
    margin: 0;
    bottom: 350px;
    position: relative;
    left: 33%;
    text-align: center;
}

#timeremaining {
    font-size: large;
    margin-top: 8%;
    text-align: center;
}

#questions {
    font-size: x-large;
    margin-top: 2%;
    text-align: center;

}

#startover {
    background-color: #CD425F;
    color: white;
    text-align: center;
    margin-right: 30%;
    margin-left: 30%;
}